*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}


/*----------------------------*/

body{
  background-image: url('./components/img/664.svg');
  background-color: rgb(72, 72, 72);

}

.root{
  width: 100%;
  height: auto;
}

.App {
  
  width: 1000px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.97;
}

.header {
  border-radius:8px 8px 0 0 ;
  width: 1000px;
  min-height: 50px;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
}
.main {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-height: 600px;
  background-color: rgb(36, 35, 35);
  font-weight:300;
  font-family: Arial, Helvetica, sans-serif;
}
.main__content{
  
  font-size: 20px;
  color: aliceblue;
  
}

.main__content__result {
  padding-top: 55px;
  width: 1000px;
  height: 200px;
  border-top: 1px solid slategray ;
  text-align: center;
  color: black;
  line-height: 1.5;
  
}

.footer
{
  width: 1000px;
  min-height: 50px;
  background-color: rgb(51, 51, 51);
  border-radius: 0 0 8px 8px;
}


/*-------------------- select*/



.custom-select {
 width: auto;
 position: relative;
 margin: 15px auto;
}

.custom-select__header{
  width: 300px;
  height: 40px;
  font-size: 18px;
  background-color: #cccccc;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 8px;
}


.custom-select__header_disabled{
  opacity: 0;
  transition: all 200ms linear;
}

.custom-select__header:hover {
  background-color: #f2f2f2;
}

.custom-select__header_smoll-size {
  width: 100px;
}



.custom-select__title {
  margin: 0 auto;
}

.custom-select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 40px;
  text-align: center;
  width: 40px;
  margin-left: auto;
  margin-right: 10px;
  background-color: brown;
}

.custom-select__body {
  margin-top: 10px;
  width: 300px;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 8px;
  
}

.custom-select__body_smoll-size{
  width: 100px;
}



.custom-select__options{ 
  background-color: #cccccc;
  display: flex;
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.custom-select__options.aclive{ 
  background-color: #585656;
}

.custom-select__options:hover {
  background-color: #f2f2f2;
}

.custom-select__options.aclive:hover{ 
  background-color: #3c3a3a;
}


.custom-select__options:first-child {
  border-radius: 8px 8px 0 0;
}

.custom-select__options:last-child {
  border-radius: 0 0 8px 8px;
  
}


.custom-select__options p {
 
  line-height: 25px;
  padding: 16px;
  cursor: pointer;
  font-size: 18px;
}


/*-------------------- button*/

.my-batton {
font-size: 18px;
width: 200px;
height: 40px;
margin: 15px;
border-radius: 8px;
transition: all 200ms linear;
}

.my-batton:hover{
  background-color: aliceblue;
  }
  
.my-batton:disabled{
  opacity: 0;
  transition: all 200ms linear;
  }

.footer {
  display: flex;
  justify-content: center;
  
}

.footer__contaner{
  display: flex;
  flex-direction: column;
}



.my-input{
  font-size: 18px;
  width: 400px;
  height: 40px;
  margin: 15px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  transition: all 200ms linear;
}

.my-input:disabled{
  /* background-color: rgb(51, 51, 51); */
  opacity: 0;
  transition: all 200ms linear;
}

.prograss-line{
  display: flex;
  width: 1000px;
  height: 5px;
  background-color: #262626;
}

.prograss-line-sector {
  background-color: #6a6a6a;
  margin-left: 2px;
  margin-right: 2px;
  height: 5px;
  width: 100%;
  transition:all 0.5s linear;
  
  /* display: inline-block; */
}

.grey-line {
  background-color: #6a6a6a;
}

.red-line {
  background-color: #9e0202;
  opacity: 1;
  transition:all 0.5s linear;
}

.testResults {
  padding: 5px;
  display: flex;
  justify-content: center;
}