*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}


/*----------------------------*/

.root{
  width: 100%;
  height: auto;
}

.App {
  width: 1000px;
  margin: 20px auto;

}
.header {
  width: 1000px;
  min-height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.main {
  width: 1000px;
  min-height: 600px;
  background-color: rgb(36, 35, 35);
}
.footer
{
  width: 1000px;
  min-height: 50px;
  background-color: black;
}


/*-------------------- select*/



.custom-select {
 width: auto;
 position: relative;
 margin: 15px auto;
}

.custom-select__header{
  width: 300px;
  height: 40px;
  font-size: 18px;
  background-color: #cccccc;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 8px;
}


.custom-select__header:hover {
  background-color: #f2f2f2;
}

.custom-select__header_smoll-size {
  width: 100px;
}



.custom-select__title {
  margin: 0 auto;
}

.custom-select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 40px;
  text-align: center;
  width: 40px;
  margin-left: auto;
  margin-right: 10px;
  background-color: brown;
}

.custom-select__body {
  margin-top: 10px;
  width: 300px;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 8px;
  
}

.custom-select__body_smoll-size{
  width: 100px;
}



.custom-select__options{ 
  background-color: #cccccc;
}

.custom-select__options.aclive{ 
  background-color: #585656;
}

.custom-select__options:hover {
  background-color: #f2f2f2;
}

.custom-select__options.aclive:hover{ 
  background-color: #3c3a3a;
}


.custom-select__options:first-child {
  border-radius: 8px 8px 0 0;
}

.custom-select__options:last-child {
  border-radius: 0 0 8px 8px;
  
}


.custom-select__options span {
  display: inline-block;
  line-height: 25px;
  padding: 16px;
  cursor: pointer;
  font-size: 18px;
}


/*-------------------- button*/

.my-batton {
font-size: 18px;
width: 200px;
height: 40px;
margin: 15px;
border-radius: 8px;
}

.my-batton:hover{
  background-color: aliceblue;
  }
  

.footer {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.footer__contaner{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}



.my-input{
  font-size: 18px;
  width: 400px;
  height: 40px;
  margin: 15px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}